.circle{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 2px solid yellow;
    text-align: center;
    margin: auto;
    margin-top: 10%;
  }	

.circle p{
    margin: auto;
    padding-top: 50%;
}